.filtersContainer {
	padding: 12px;
	margin-bottom: 16px;
	border-radius: 16px;
	justify-content: center;
}

@media (min-width: 600px) {
	.filtersContainer {
		padding: 16px;
		margin-bottom: 32px;
	}
}

.header {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: flex-start;
}

@media (min-width: 600px) {
	.header {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 0;
	}
}

.buttonsContainer {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 8px;
	width: 100%;
}

@media (min-width: 600px) {
	.buttonsContainer {
		gap: 16px;
		width: auto;
	}
}
